<div
  class="header fixed top-0 left-0 right-0 z-30 w-full bg-white/90 backdrop-blur-md shadow-lg p-4 flex items-center justify-between h-20">
  <button (click)="openSidebar.emit()"
    class="p-2 rounded-full hover:bg-gray-100 transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-gray-300"
    aria-label="Open navigation menu">

    <svg class="w-7 h-7 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg">

      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>

    </svg>

  </button>

  <input type="checkbox" id="menu-toggle" />

  <label for="menu-toggle" class="menu-icon">
    <i class="fa-solid fa-bars-staggered"></i>
  </label>


  <div class="logo">
    <img src="logo4.png" alt="Logo" />
    <span>Aditya Estate</span>
  </div>
  <nav class="nav-links">
    <a href="#">Home</a>
    <a href="/about">About</a>
    <a (click)="navigateToDashboard()">Properties</a>
    <a (click)="navigateToMainDashBoard()">Dashboard</a>

    <div class="auth-buttons">
      <ng-container *ngIf="!(authService.isLoggedIn$ | async) && !isOnAuthPage">
        <a routerLink="/login" class="btn login-btn">Login</a>
        <button routerLink="/register" class="signup-btn">Sign Up</button>
      </ng-container>
      <button *ngIf="authService.isLoggedIn$ | async" (click)="logout()" class="logout-btn">Logout</button>
    </div>
    <button class="contact-btn">Contact Us <span class="arrow">→</span></button>

    <div>
      <button mat-icon-button (click)="openProfile()" class="profile-button" aria-label="Profile">
        <i class="fas fa-user-circle"></i>
      </button>
    </div>

  </nav>

</div>