<p>I am from login Component!!</p>
    <div class="container mt-5">
        <div class="card center shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4><i class="fa fa-user"></i> Login Form</h4>
            </div>
            <div class="card-body">
                <form #login="ngForm" (ngSubmit)="validate(login)">
                    <div class="mb-3">
                        <label for="username" class="form-label"><i class="fa fa-user"></i> Username</label>
                        <input type="text" class="form-control" ngModel name="uname" placeholder="Enter your name" required>
                        <div id="g" class="form-text text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label"><i class="fa fa-lock"></i> Password</label>
                        <input type="password" class="form-control" ngModel name="psw" placeholder="Enter password" required>
                        <div id="myloc" class="form-text text-danger"></div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="reset" class="btn btn-warning"><i class="fa fa-undo"></i> Reset</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-sign-in-alt"></i> Login</button>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <p class="mb-0">Don't have an account?
                          <a routerLink="/register" class="text-info fw-semibold">Register here</a>
                        </p>
                      </div>
                </form>
            </div>
        </div>
    </div>
